*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: wonderworld;
    src: url(../fonts/WonderworldPersonalUseRegular-gxdo3.otf);
}

:root {
    font-size: 16px;
}

body {
    font-family: wonderworld;
    background-color: #f5f5f5;
}

.flex-container {
    display: flex;
}

a {
    color: white;
}

.background-image {
    position: relative;
    background: url(../images/burning-cards.jpg) center center;
    min-width: 40%;
    min-height: 100vh; /* What finally fixed the image height across different size screens */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.background-image .overlay {
    margin-top: 20%;
    background-color: black;
    opacity: 0.5;
    text-align: center;
    font-size: 4rem;
}

.background-image .overlay img {
    margin-left: 50%;
    transform: translateX(-50%);

}

.container .background-image p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container .content .description p {
    font-size: 1.60rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.container .description p:last-child {
    margin-top: 0;
}

.container .content .form {
    background-color: white;
    width: 100%;
}

.container .content .form h1 {
    font-size: 1.75rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
    padding: 1rem;
}

.container .content .form fieldset {
    margin: 0;
    border: none;
    margin-top: 0.625rem;
}

.container .content .form fieldset div {
    width: 50%;
}

.container .content .form fieldset div:first-child {
    margin-left: 3rem;
}

.container .content .form fieldset:last-child {
    margin-top: 1.5rem;
    box-shadow: 0 10px 5px -5px #ddd;
    padding-bottom: 2rem;
}

.container .content .form fieldset input {
    font-family: roboto;
    width: calc(100% - 20px);
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
}

.container .content .form fieldset input:focus {
    background-color: #f5f5f5;
    box-shadow: 3px 3px 5px #e5e5e5;
    outline-color: blue;
}

.container .content .form fieldset input:valid {
    border-color: green;
}

.container .content .form fieldset > div {
    position: relative;
}

.container .content .form fieldset .email label:after {
    content: "Example: email@email.com";
    font-family: roboto;
    font-size: 0.75rem;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.container .content .form fieldset .phone label:after {
    content: "Example: +123 456 78910";
    font-family: roboto;
    font-size: 0.75rem;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.container .content .submit {
    margin-left: 3rem;
}

.container .content .submit button {
    margin-top: 3rem;
    background-color: #f27d0c;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px #ccc;
}

.container .content .submit p {
    margin-top: 2rem;
    font-size: 1.25rem;
}

.container .content p a {
    color: #f27d0c;
    text-decoration: none;
}

.error-message {
    font-family: roboto;
    font-size: 85%;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
}

.email .error-message,
.phone .error-message {
    bottom: -35px;
}

.active-error {
    border: 1px solid red !important;
}

@media all and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .background-image {
        width: 100%;
    }

    .container .content .description p {
        margin-left: 0.75rem;
    }

    .container .content .form h1 {
        margin-left: 0;
        padding-left: 0.75rem;
    }

    .container .content .form fieldset {
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .container .content .form fieldset div {
        margin-top: 1rem;
        width: 100%;
    }

    .container .content .form fieldset div:first-child {
        margin-left: 0;
    }

    .container .content .form fieldset input {
        width: 100%;
        margin-right: 0;
    }

    .container .content .form fieldset .phone {
        margin-top: 2rem;
    }

    .container .content .form fieldset .password1 {
        margin-top: 2rem;
    }

    .container .content .form fieldset:last-of-type {
        margin-top: 0;
    }

    .container .content .submit {
        margin-left: 0.75rem;
    }
}